<html>
    <head>
        <title>{{ website.domain }}</title>
    </head>
    <body>
        <h1>Hello World!</h1>
        <p>This is the initial template for {{ website.domain }}, setup was successfull!</p>
        <p>Farewell, my old friend.</p>
    </body>
</html>