[Unit]
Description=go-agent
After=syslog.target

[Service]
Type=forking
ExecStart={{ gocd_link }}/bin/go-agent start sysd
ExecStop={{ gocd_link }}/bin/go-agent stop sysd
User={{ gocd_usr }}
Group={{ gocd_grp }}
KillMode=control-group
Environment=SYSTEMD_KILLMODE_WARNING=true

[Install]
WantedBy=multi-user.target